name: practice2

#on: [push, pull_request]

on:
    push:
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: command 1
          run: echo Practice pipeline 1

        - name: command 2
          run: |
           echo practice pipeline 2
           echo practice pipeline 3
        
